.calendarBtn {
  min-width: 200px;
  background-color: #64ffda;
  text-align: center;
  border: 1px solid #00bfa5;
  padding: 8px;
  &:active {
    background-color: #1de9b6;
  }

  &:hover {
    background-color: #1de9b6;
    cursor: pointer;
  }
}

.container {
  position: relative;
}
